<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wine Cooperative</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../assets/stylesheets/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../../assets/stylesheets/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../assets/stylesheets/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../assets/stylesheets/font-awesome-4.1.0/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="../../assets/stylesheets/chartist.min.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Wine Cooperative Analysis</a>
            </div>
            <!-- /.navbar-header -->

            

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#" onclick="DashboardIndex()"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Analise Empresarial<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Armazens<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="#" onclick="ArmazensIndex()">Listagem</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Artigos<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="#" onclick="ArtigosIndex()">Listagem</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Clientes<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="#" onclick="ClientesIndex()">Listagem</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Analise divida<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" onclick="AnaliseDebitoIndex()">Fornecedor/Cliente</a>
                                </li>
                                <li>
                                    <a href="#">Facturação</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../assets/javascripts/jquery.js"></script>
    <script src="../../assets/javascripts/plugins/morris/morris.min.js"></script>
    <script src="../../assets/javascripts/plugins/morris/raphael.min.js"></script>

    <script src="../../assets/javascripts/chartist/chartist.js"></script>
    <script src="../../assets/javascripts/chartist/chartist.min.js"></script>

    <script src="../../assets/javascripts/index.js"></script>
    <script src="../../assets/javascripts/controller/application.js"></script>
    <script src="../../assets/javascripts/controller/documentos_controller.js"></script>
    <script src="../../assets/javascripts/controller/clientes_controller.js"></script>
    <script src="../../assets/javascripts/controller/artigo_armazens_controller.js"></script>
    <script src="../../assets/javascripts/controller/artigos_controller.js"></script>    
    <script src="../../assets/javascripts/controller/armazens_controller.js"></script>
    <script src="../../assets/javascripts/controller/analise_debito_controller.js"></script>
    <script src="../../assets/javascripts/controller/dashboard_controller.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/javascripts/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../assets/javascripts/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/javascripts/sb-admin-2.js"></script>
</body>

</html>
